* {
  margin: 0;
  padding: 0;
  box-sixing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

img {
  width: 100%;
  margin-top: 3rem;
}
